
p {
  font-size: 20px;
}

#header {
/*	text-transform: lowercase;*/
	text-align: left;
	padding: 1.5em;
	text-align: center;
}

#header h1 {
  font-family: 'Helvetica', arial, serif;
  font-weight:700;
	font-size: 5.0em;
	display: inline;
	letter-spacing: -0.03em;
}

#header h1 a {
  text-decoration: none;
	color: #3d3d3d;
}

#header h2 {
  position:absolute;
  padding-top:10px;
}

#menu {
	border-top: 3px solid #3d3d3d;
}

#menu ul {
	list-style: none;
	margin: 0;
	text-align: right;
	padding-right: 1.0em;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	font-size: 1.3em;
	padding: 0 0.5em;
	line-height: 2.5em;
	font-weight: normal;
	text-decoration: none;
}

#menu ul li a.highlight {
  color: black;
}


.filter {
  float:left;
  margin-right: 20px;
  margin-bottom:10px;
}

#filters {
  clear:both;
  height: 100%;
  /* width: 50%; */
  margin: auto;
}

#display {
  margin-top: 40px;
}

.experiment {
  clear: both;
  overflow: hidden;
  padding-bottom: 10px;
  display:block;
}

.experiment img {
}

.thumb {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  border-image: initial;
  margin-bottom: 10px;
  float: left;
  margin-right: 20px;
  /* height: 290px; */
}

#footer {
  margin-bottom: 2em;
  color: #3E423A;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: right;
}

#footer p {
	padding-right: 1.5em;
}



