body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #222;
}

/*p {
  font-size: 20px;
}*/

a {
  color: #6e6e6e;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #3d3d3d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: bold;
  letter-spacing: 0.035em;
}

#header {
  text-align: left;
  padding: 1.5em;
}

#header h1 {
  /* font-weight: 600; */
  /* font-size: 5rem; */
  display: inline;
  /*letter-spacing: -0.03em;*/
}

@media screen and (max-width: 510px) {
  #header {
    padding: 0;
  }
  #header h1 {
    text-align: left;
    margin: 5px 0 5px 5px;
  }
}

#header h1 a {
  text-decoration: none;
  color: #3d3d3d;
}

#header h2 {
  position: absolute;
  padding-top: 10px;
}

#menu {
  border-top: 3px solid #3d3d3d;
}

#menu ul {
  list-style: none;
  margin: 0;
  text-align: right;
  padding-right: 1em;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  font-size: 1.3em;
  padding: 0 0.5em;
  line-height: 2.5em;
  font-weight: normal;
  text-decoration: none;
}

#menu ul li a.highlight {
  text-decoration: underline;
}

.filter {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

a.btn {
  text-decoration: none;
}

#filters {
  clear: both;
  height: 100%;
  /* width: 50%; */
  margin: auto;
}

#display {
  margin-top: 40px;
}

.experiment {
  clear: both;
  overflow: hidden;
  padding-bottom: 10px;
  display: block;
}

h2.title {
  font-size: 4.2rem;
}

h2.title a {
  text-decoration: none;
}

h2.title a:hover {
  text-decoration: underline;
}

.experiment img {
}

.thumb {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  border-image: initial;
  margin-bottom: 10px;
  float: left;
  margin-right: 20px;
  max-width: 300px;
  /* height: 290px; */
}

#footer {
  margin-bottom: 2em;
  color: #3e423a;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: right;
}

#footer p {
  padding-right: 1.5em;
}
