/*@import url(http://fonts.googleapis.com/css?family=Montserrat);*/

body {
  /* font-family: "brandon-grotesque","Brandon Grotesque",sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h3 {
	/* font-family: "brandon-grotesque","Brandon Grotesque",sans-serif; */
}

#container {
  width: 900px;
  margin:auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.col {
  float:left;
}

.pal {
  float:left;
  clear:right;
  padding: 10px;
  cursor: pointer;
}

#colors {
  clear:both;
  margin-bottom: 20px;
  height: 50px;
}

