
body {
  background-color: #ecd6a5;
}

.slice {
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 15px;
}

.big-title {
  font-size: 25px;
}

.bottom-title {
  font-size: 10px;
}

.key {
  font-family: 'Playfair Display', serif;
  font-size: 10px;
  font-style: italic;
}

.me {
  /* fill:white; */
}

a {
  text-decoration:none;
  color: #333333;
  font-weight:bold;
}

a:visited {
  color: #333333;
}

#footer_container {
  width: 980px;
}

#footer {
  text-transform:uppercase;

  padding-top: 20px;
  margin: auto;
  /* width: 880px; */
  text-align: center;
}  

